{% if rhsm_satellite is defined and rhsm_satellite != "" %}
bootcmd:
  - yum -y install {{ rhsm_satellite }}/pub/katello-ca-consumer-latest.noarch.rpm
{% endif %}
runcmd:
  - mkdir -p '/var/lib/origin/openshift.local.volumes'
  - /usr/sbin/mkfs.xfs -L localvol "{{ local_volumes_device }}"
  - mkdir -p '/var/lib/etcd'
  - /usr/sbin/mkfs.xfs -L etcd /dev/vdd
  - touch /etc/sysconfig/.finished
  - sleep "$(($RANDOM % 60))"
  - sync
mounts:
  - [ '{{ local_volumes_device }}', '/var/lib/origin/openshift.local.volumes', 'xfs', 'defaults,gquota' ]
  - [ '/dev/vdd', '/var/lib/etcd', 'xfs', 'defaults' ]
rh_subscription:
{% if rhsm_user is defined %}
  username: {{ rhsm_user }}
  password: {{ rhsm_pass }}
{% elif rhsm_master_key is defined %}
  activation-key: {{ rhsm_master_key }}
  org: {{ rhsm_master_org }}
{% endif %}
{% if rhsm_broker_pool is defined and rhsm_broker_pool != '' %}
  add-pool: [{{ rhsm_broker_pool }}]
{% endif %}
{% if rhsm_satellite is defined and rhsm_satellite != "" %}
  server-hostname: {{ rhsm_satellite }}
  rhsm-baseurl: {{ rhsm_satellite }}
{% endif %}
  disable-repo:
    - rhel-7-server-rt-rpms
    - rhel-7-server-nfv-rpms
    - rhel-7-server-aus-rpms
    - rhel-7-server-rt-rpms
    - rhel-7-server-tus-rpms
    - rhel-7-server-htb-rpms
  enable-repo:
{% if rhsm_repos is defined %}
{% for repo in rhsm_repos %}
    - {{ repo }}
{% endfor %}
{% else %}
    - rhel-7-server-rpms
    - rhel-7-server-exras-rpms
{% endif %}
packages:
{% if pkgs is defined %}
{% for pkg in pkgs %}
  - {{ pkg }}
{% endfor %}
{% endif %}
  - wget
  - git
  - net-tools
  - bind-utils
  - iptables-services
  - bridge-utils
  - bash-completion
  - kexec-tools
  - sos
  - psacct
  - vim
package_update: true
package_upgrade: false
package_reboot_if_required: false
