---
###########################
# Common
###########################
compatibility_version: 4.2

# Data center
data_center_name: {{ rhv_data_center | default('Default') }}

vm_infra_wait_for_ip_delay: {{ vm_infra_wait_for_ip_delay | default('180') }}
vm_infra_wait_for_ip_retries: {{ vm_infra_wait_for_ip_retries | default('10') }}
vm_infra_create_single_timeout: {{ vm_infra_create_single_timeout | default('800') }}

vms:
{% for i in range(1, (app_nodes +1) ) %}
  - name: ocp-app0{{ i }}.{{ local_hosted_zone }}
    tag: openshift_node
    state: {{ vm_state | default('running') }}
# JK Mod to create VM independent of template
    clone: true
    profile:
      {{ node_vm | to_nice_yaml | indent(6,false)  }}
      disks:
        - size: "{{ node_docker_volume_size }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: docker_disk
          interface: virtio
        - size: "{{ node_local_volume_size }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: localvol_disk
          interface: virtio
{% if deploy_ocs|bool and ( infra_nodes | int + app_nodes | int >= 6 ) %}
        - size: "{{ ocs_app_cluster_usable_storage }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: storage_gluster
          interface: virtio
{% endif %}
    cloud_init:
      host_name: "app0{{ i }}"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_node.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
{% if custom_mac is defined %}
        mac_address: 00:1a:4a:16:01:{{ 46 + i }}
{% endif %}
{% endfor %}
 
{% for i in range(1, (infra_nodes +1) ) %}
  # Infra VMs
  - name: ocp-infra0{{ i }}.{{ local_hosted_zone }}
    tag: openshift_infra
    state: {{ vm_state | default('running') }}
    clone: true
    profile: 
      {{ infra_vm | to_nice_yaml | indent(6,false)  }}
      disks:
        - size: "{{ infra_docker_volume_size }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: docker_disk
          interface: virtio
        - size: "{{ infra_local_volume_size }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: localvol_disk
          interface: virtio
{% if deploy_ocs|bool and ( infra_nodes | int + app_nodes | int >= 6 ) %}
        - size: "{{ ocs_infra_cluster_usable_storage }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: storage_gluster
          interface: virtio
{% elif deploy_ocs|bool %}
        # TODO: this will be the ONLY OCS cluster if we hit this point, Change variable name?
        - size: "{{ ocs_infra_cluster_usable_storage }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: storage_gluster
          interface: virtio
{% endif %}
    cloud_init:
      host_name: "infra0{{ i }}"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_infra.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
{% if custom_mac is defined %}
        mac_address: 00:1a:4a:16:01:{{ 43 + i }}
{% endif %}
{% endfor %}
  
{% for i in range(1, (master_nodes +1) ) %}
  # Master VMs
  - name: ocp-master0{{ i }}.{{ local_hosted_zone }}
    tag: openshift_master
    state: {{ vm_state | default('running') }}
    clone: true
    profile: 
      {{ master_vm | to_nice_yaml| indent(6,false) }}
      disks:
        - size: "{{ master_docker_volume_size }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: docker_disk
          interface: virtio
        - size: "{{ master_local_volume_size }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: localvol_disk
          interface: virtio
        - size: "{{ master_etcd_volume_size }}GiB"
{% if rhv_data_storage | length > 1 %}
          storage_domain: "{{ rhv_data_storage[i % (rhv_data_storage | length)] }}"
{% else %}
          storage_domain: "{{ rhv_data_storage[0] }}"
{% endif %}
          name: etcd_disk
          interface: virtio
    is_master: true
    cloud_init:
      host_name: "master0{{ i }}"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_master.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
{% if custom_mac is defined %}
        mac_address: 00:1a:4a:16:01:{{ 40 + i }}
{% endif %}
{% endfor %}

{% if software_lb is defined and software_lb | bool %}
  # Load balancer
  - name: openshift-lb.{{ local_hosted_zone }}
    tag: openshift_lb
    state: {{ vm_state | default('running') }}
    clone: true
    profile:
      {{ lb_vm | to_nice_yaml| indent(6,false) }}
    cloud_init:
      host_name: "openshift-lb"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_lb.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
{% if custom_mac is defined %}
        mac_address: 00:1a:4a:16:01:50
{% endif %}
{% endif %}

affinity_groups:
  - name: masters_ag
    cluster: "{{ rhv_cluster }}"
    vm_enforcing: {{ master_ag_enforce | default('yes') }}
    vm_rule: negative
    vms:
{% for i in range(1, (master_nodes +1) ) %}
      - ocp-master0{{ i }}.{{ local_hosted_zone }}
{% endfor %}
    wait: true

  - name: infra_ag
    cluster: "{{ rhv_cluster }}"
    vm_enforcing: {{ infra_ag_enforce | default('yes') }}
    vm_rule: negative
    vms:
{% for i in range(1, (infra_nodes +1) ) %}
      - ocp-infra0{{ i }}.{{ local_hosted_zone }}
{% endfor %}
{% if software_lb is defined and software_lb | bool %}
      - openshift-lb.{{ local_hosted_zone }}
{% endif %}
    wait: true

  - name: app_ag
    cluster: "{{ rhv_cluster }}"
    vm_enforcing: {{ app_ag_enforce | default('yes') }}
    vm_rule: negative
    vms:
{% for i in range(1, (app_nodes +1) ) %}
      - ocp-app0{{ i }}.{{ local_hosted_zone }}
{% endfor %}
