---
###########################
# Common
###########################
compatibility_version: 4.2

# Data center
data_center_name: {{ rhv_data_center | default('Default') }}

vm_infra_wait_for_ip_delay: {{ vm_infra_wait_for_ip_delay | default('180') }}
vm_infra_wait_for_ip_retries: {{ vm_infra_wait_for_ip_retries | default('10') }}

vms:
{% for i in range(1, (app_nodes +1) ) %}
  - name: ocp-app0{{ i }}.{{ local_hosted_zone }}
    tag: openshift_node
    state: {{ vm_state | default('running') }}
    profile:
      {{ node_vm | to_nice_yaml | indent(6,false)  }}
    cloud_init:
      host_name: "app0{{ i }}"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_node.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
        #mac_address: 00:1a:4a:16:01:{{ 46 + i }}
{% endfor %}
 
{% for i in range(1, (infra_nodes +1) ) %}
  # Infra VMs
  - name: ocp-infra0{{ i }}.{{ local_hosted_zone }}
    tag: openshift_infra
    state: {{ vm_state | default('running') }}
    profile: 
      {{ infra_vm | to_nice_yaml | indent(6,false)  }}
    cloud_init:
      host_name: "infra0{{ i }}"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_node.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
        #mac_address: 00:1a:4a:16:01:{{ 43 + i }}
{% endfor %}
  
{% for i in range(1, (master_nodes +1) ) %}
  # Master VMs
  - name: ocp-master0{{ i }}.{{ local_hosted_zone }}
    tag: openshift_master
    state: {{ vm_state | default('running') }}
    profile: 
      {{ master_vm | to_nice_yaml| indent(6,false) }}
    is_master: true
    cloud_init:
      host_name: "master0{{ i }}"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_master.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
        #mac_address: 00:1a:4a:16:01:{{ 40 + i }}
{% endfor %}

{% if software_lb is defined and software_lb | bool %}
  # Load balancer
  - name: openshift-lb
    tag: openshift_lb
    state: {{ vm_state | default('running') }}
    profile:
      {{ lb_vm | to_nice_yaml| indent(6,false) }}
    cloud_init:
      host_name: "openshift-lb"
      authorized_ssh_keys: "{{ root_ssh_key }}"
      custom_script: |
        {{ lookup('template', 'templates/cloud_init_master.j2')| indent(8,false) }}
    nics:
      - name: nic1
        profile: "{{ rhv_vm_network }}"
        interface: virtio
        network: "{{ rhv_vm_network }}"
        mac_address: 00:1a:4a:16:01:50
{% endif %}

affinity_groups:
  - name: masters_ag
    cluster: "{{ rhv_cluster }}"
    vm_enforcing: false
    vm_rule: negative
    vms:
{% for i in range(1, (master_nodes +1) ) %}
      - ocp-master0{{ i }}.{{ local_hosted_zone }}
{% endfor %}
    wait: true

  - name: infra_ag
    cluster: "{{ rhv_cluster }}"
    vm_enforcing: false
    vm_rule: negative
    vms:
{% for i in range(1, (infra_nodes +1) ) %}
      - ocp-infra0{{ i }}.{{ local_hosted_zone }}
{% endfor %}
{% if software_lb is defined and software_lb | bool %}
      - openshift-lb
{% endif %}
    wait: true

  - name: app_ag
    cluster: "{{ rhv_cluster }}"
    vm_enforcing: false
    vm_rule: negative
    vms:
{% for i in range(1, (app_nodes +1) ) %}
      - ocp-app0{{ i }}.{{ local_hosted_zone }}
{% endfor %}
