# OverRides
vm_infra_wait_for_ip_delay: 180
vm_infra_wait_for_ip_retries: 10

# Master VM
master_vm:
  is_master: true
  cluster: "{{ rhv_cluster }}"
  template: "{{ template_name }}"
  memory: "{{ master_vm_mem }}GiB"
  cores: "{{ master_vm_vcpu }}"
  high_availability: true

node_vm:
  cluster: "{{ rhv_cluster }}"
  template: "{{ template_name }}"
  memory: "{{ node_vm_mem }}GiB"
  cores: "{{ node_vm_vcpu }}"

infra_vm:
  cluster: "{{ rhv_cluster }}"
  template: "{{ template_name }}"
  memory: "{{ infra_vm_mem }}GiB"
  cores: "{{ infra_vm_vcpu }}"
  # disks are created alphanumeric using name:value -  vdb/vdc/vdd

{% if software_lb is defined %}
lb_vm:
  cluster: "{{ rhv_cluster }}"
  template: "{{ template_name }}"
  memory: 4GiB
  cores: 1
  disks:
    - size: 1GiB
      storage_domain: "{{ rhv_data_storage }}"
      name: docker_disk
      interface: virtio
#    - size: 1GiB
#      storage_domain: "{{ rhv_data_storage }}"
#      name: localvol_disk
#      interface: virtio
{% endif %}
